{"filter":false,"title":"env.example","tooltip":"/notes-api/env.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1626107242853,"hash":"6ece36af234a7a32336f854f51f0d1f4f4bc8f65"}